h1 {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
    color: white;
}

p {
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.body_background{
    background-image:url(https://images4.alphacoders.com/659/659402.jpg);
}

h3{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

label{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

hr{
    width: 450px;
}

button{
    background-color: rgb(93, 215, 255);
    color:white;
    width: 200px;
    height: 30px;
}

#output
{
    background:white;
    border-radius: 10px;
    border-top: 10 px solid darkmagenta;
    padding:10px;
    float:none;
    text-align: left;
}

#game_page_body
{
  background-image: url(https://wallpapercave.com/wp/wp4247354.jpg);

}

h2
{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#player1_name
{
    color: white;
}

#player2_name
{
    color: white;
}

#player1_score
{
    color: white;
}

#player2_score
{
    color: white;
}

